/**
 *
 */
$card_font: 2em;
$card_width: $card_font * 1.25;
$card_height: $card_width * 1.25;

.deck {
    font-family: $font_sans;
    width: 80%;
    max-width: 40em;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    display: inline-block;
    *display: inline;
    position: relative;
    width: $card_width;
    height: $card_height;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.25em;
    border: 0.125em solid lighten(#000000, 75%);
    font-size: $card_font;
    text-align: center;
    background-color: #ffffff;

    &:hover { cursor: pointer; }
}

.card__face {
    box-sizing: border-box;
    @extend %vertical-align;
    z-index: 1;
}